.button{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #4375FF;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    border-radius: 7px;
    height: 60px;
    margin-top: 75px;
    margin-bottom: 60px;
    cursor: pointer
}