*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;

}
body{
  background: #F3F4F6 0% 0% no-repeat padding-box;  
  height: 100vh;
  position:relative;
  /* width:1920px; */
  /* display: flex;
  justify-content: center; */
  
}
.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 703px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  text-align: left;
  
}

.form h3{
    padding:40px 0 40px 0;
    letter-spacing: 0.4px;
    color: #000000;
    font: normal normal 600 25px/33px Segoe UI;
  }
.form form{
  padding: 0 90px;
  box-sizing: border-box;

}
.form input{
    width: 500px;
    height: 60px;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    margin:10px 10px 25px 0;
    font: normal normal normal 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BEC2C6;
    border-radius: 7px;
  }
  .form .field{
   color: #707070;
   font: normal normal 600 20px/27px Segoe UI;
   letter-spacing: 0.4px;
   font-size: 18px;
  } 

/* .form h4
{
  display:flex ; 
  height: 50px;
  margin-right: 5px;
  padding:0 0 15px 0;
  transform: translate(0, -2ex);
  letter-spacing: 0px;
  color: #707070;
  font: normal normal normal 16px/21px Segoe UI;
  margin: -15px 600px 30px 100px

} */

input .form-control {
  border: 1px solid #2fc505
}

input .error-control {
  border: 1px solid red
}