
.left ul li 
{
list-style:none;
display:inline-block;
transform: translate(-450px, 100px);
margin:20px;
}


.left ul li p
{
    font-size: 20px;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}