.text{
    font-size:18px; 
    text-align:center;
    padding:0 0 60px 0;
    color:#000000;
    font-weight: normal;
    
    }
.link{
      color:#4375FF;
      text-decoration:none;
    
    }
.forgot{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  color: #707070;

}